body {background-color: #000000;
    font-family: consolas;
    font-size: 1.25rem;
    }

#maindiv {
    padding: 20px;
    font-size: 1.25rem;
    width: 960px;
    }

button {
    display: block;
    margin-top: 10px;
    font-family: consolas;
    }
p {
    color: #FFFFFF;
    font-family: consolas;
  }

.no-outline:focus {
    outline: none;
    font-family: consolas;
  }

.dark {
    font-family: consolas;
    }

label {
    color: #FFFFFF;
    font-family: consolas;    
    }

input {
    color: #FFFFFF;
    font-family: consolas;
    font-size: 1.25rem;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #000000;
  }

  a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

  td {
    color: #FFFFFF;
    font-family: consolas;
    text-align: left;

  }
  pre {
    background: #000;
    color: white;
    font-family: monospace;
    padding: 1ch;
  }
  