body {
    background-color: #000000;
    font-family: consolas;
    background: #000;
    font-size: 22px;
    color: #888;
    display: flex;
    
    overflow: hidden;
    margin: 0;
    transform: scale(0.6) translateY(-25%);
    }

button {
    display: block;
    margin-top: 10px;
    }
p {
    color: #FFFFFF;
  }

.no-outline:focus {
    outline: none;
  }

label {
    color: #FFFFFF;
    }


input {
    color: #FFFFFF;
    font-family: consolas;
    font-size: 16.5px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #000000;
  }
  #audiocontrol {
    position: fixed;
    bottom: 0%;
    left: 10px;
  }

